h1 {
	font-weight: 400;
	font-size: modular-scale(3);
}
h2 {
	font-weight: 400;
	font-size: modular-scale(2);
}
h4 {
	font-size: modular-scale(-1);
	font-weight: 600;
	text-transform: uppercase;
	@include margin($line-height-p null $line-height-s null);
}
h5 {
	font-size: modular-scale(-1);
	font-weight: 400;
	color: $gray;
	@include margin($line-height null $line-height-ss null);
}
p {
	font-size: modular-scale(0);
	line-height: $line-height;
	&.monospace {
		font-size: modular-scale(0);
		@include margin($line-height-ss null null null)
		font-style: italic;
		//font-family: Courier New, Courier, Lucida Sans Typewriter, Lucida Typewriter, monospace;
	}
}
a {
	color: deeppink;
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
}
