/*Custom Variables*/
$em-base: 24px;
$modular-scale-ratio: $minor-third;
$column: modular-scale(6, 1em, $modular-scale-ratio) !global;
$gutter: modular-scale(1, 1em, $modular-scale-ratio) !global;
$visual-grid: true !global;
$disable-warnings: true !global;

/*Color schema*/
$brand-primary: deeppink;
$brand-primary-lighter: lighten($brand-primary, 15%);
$black: #111;
$gray: #777;
$gray-light: #CCC;
$gray-lighter: #F2F2F2;
$warning-color: #FFE295;
$error-color: #EC5443;
$success-color: $brand-primary;

@include selection {
  background-color: $brand-primary-lighter;
}

/*Vertical rhythm*/
$line-height: 1.444em;
$line-height-s: $line-height/2;
$line-height-ss: $line-height/3;
$line-height-sss: $line-height/4;
$line-height-p: $line-height*2;
$line-height-pp: $line-height*3;
$line-height-ppp: $line-height*4;

$header-nav: 4em;

/*Media Queries*/
$tablet: new-breakpoint(max-width 1024px 8);
$mobile: new-breakpoint(max-width 480px 4);